{% extends 'base.html' %}

{% block webcontent %}


<div class="container">
    {% for entry in blog_entries %}
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">{{entry.title}}</div>
        <div class="panel-body"><img src="https://ballzy.eu/media/catalog/product/cache/5c1dbc0f746af78a35c6b141772eb590/c/h/champion-crewneck-t-shirt-multicolor-nuoa.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">{{entry.body}}</div>
      </div>
    </div>

  </div>
</div>

    {% endfor %}

{% endblock %}